<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" </head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
<body>
    <div class="main-content">
         {{>header}}

    
        <p>{{msg}}</p>
    </div>
   
    {{>footer}}
</body>

</html>